/* Direct Colorado
Kacy McKibben & Jake Turelli
September 2016 */

body {
	color: #161616;
	font-family: Open Sans, sans-serif;
}
nav.navbar {
	margin-bottom: 0px;
}
a {
	color: #161616;
}
.text {
	padding: 15px 5px 15px 15px;
}
.glyphicon {
	color: #6E7FA6;
}
.btn {
	background-color: #1E3362;
	color: #fff;
}
.btn:hover {
	background-color: #344771;
	color: #fff;
}
.btn-ltblue {
	background-color: #6E7FA6;
	color: #fff;
}
.btn-ltblue:hover {
	background-color: #8B98B7;
	color: #fff;
}

/*=== navbar ===*/

.navbar-nav > li > a {
	color: #161616;
}
.active {
	font-weight: 600;
}

.secondary-navbar {
	background-color: #F4F5F7;
}

.profile-pic {
	width: 20px;
}

/*--- like/dislike ---*/

.radio input {
	visibility: hidden;
	position: absolute;
}
.radio input:checked {
	color: #000;
}

/*.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}*/

.vote {
	float: left;
	width: 72px;
	height: 36px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.vote_item {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 36px;
	height: 36px;
}
.vote_control {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	padding: 0;
	margin: 0;
	line-height: 1;
	opacity: 0;
}
.vote_content {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.vote_label {
	position: relative;
	margin: 0;
	width: 36px;
	height: 36px;
	display: block;
	color: transparent;
	cursor: pointer;
	border: 1px solid #ccc;
	background-image: url(vote.svg);
	background-repeat: no-repeat;
	background-size: 72px 72px;
}
.vote_label--upvote {
	border-radius: 3px 0 0 3px;
	background-position: 0 0;
}
.vote_label--downvote {
	border-radius: 0 3px 3px 0;
	border-left: 0;
	background-position: 0 -36px;
}
.vote_control:focus + .vote_label,
.vote_control:hover + .vote_label,
.vote_control:disabled + .vote_label,
.vote_control:checked:focus + .vote_label,
.vote_control:checked:hover + .vote_label,
.vote_control:checked:disabled + .vote_label {
	background-color: #eee;
}
.vote_control:checked + .vote_label--upvote {
	background-position: -36px 0;
}
.vote_control:checked + .vote_label--downvote {
	background-position: -36px -36px;
}
.vote_control:disabled {
	
}


/*input[type='checkbox'].thumbs-up + label:before,
input[type='checkbox'].thumbs-up + label:after {
	color:#000;
	font-family: 'Glyphicons Halflings';
	font-family: bold;
}
input[type='checkbox'].thumbs-up + label:before {
	content: "\e125";
}
input[type='checkbox']:checked.thumbs-up + label:before {
	content: "\e126";
}*/

/*input[type='checkbox'].thumbs-up + label:before{
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type='checkbox'].thumbs-up + label:before{
	color: #999;
    content: "\e125";
}
input[type='checkbox']:checked.thumbs-up + label:before{
	color: #000;
    content: "\e125";
    font-weight: 800;
}*/
.like-font {
	font-family: Open Sans, sans-serif;
}
.glyphicon-thumbs-up:before{
    content:"\e125"; 
    color: #6E7FA6; 
    opacity: 0.8;
}
.glyphicon-thumbs-up.tst:before{
    content:"\e125"; 
    color: #000080; 
    opacity: 1;
}
.glyphicon-thumbs-down:before{
    content:"\e126"; 
    color: #6E7FA6; 
    opacity: 0.8;
}
.glyphicon-thumbs-down.tst:before{
    content:"\e126"; 
    color: #000080; 
    opacity: 1;
}

/*-- upvote downvote --*/
.glyphicon-chevron-up:before{
    content:"\e113"; 
    color: #6E7FA6; 
    opacity: 0.8;
}
.glyphicon-chevron-up.tst:before{
    content:"\e113"; 
    color: #000080; 
    opacity: 1;
}
.glyphicon-chevron-down:before{
    content:"\e114"; 
    color: #6E7FA6; 
    opacity: 0.8;
}
.glyphicon-chevron-down.tst:before{
    content:"\e114"; 
    color: #000080; 
    opacity: 1;
}

/*-- bookmark --*/
.glyphicon-bookmark:before {
	content: "\e044";
	opacity: 0.5;
}
.glyphicon-bookmark.marked:before {
	content: "\e044";
	opacity: 1;
}

/*-- share --*/
.fa {
	padding: 0 3px 0 3px;
}
.glyphicon-envelope {
	padding: 0 3px 0 3px;
}
.glyphicon-share-alt:before {
	content: "\e095";
	opacity: 0.5;
}
.glyphicon-share-alt.marked:before {
	content: "\e095";
	opacity: 1;
}

/*=== Browse Page ===*/

.home-initiative {
	padding: 10px;
}

/*=== Initiative Page ===*/

.initiative {
	padding: 25px 0px 15px 0px;
}
.comment-1 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 50px;
	padding: 10px 10px 20px 20px;
}
.comment-2 {
	margin: 10px 0px 0px 100px;
	padding: 10px;
}
.comment-3 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 150px;
	padding: 10px 10px 20px 20px;
}
.comment-4 {
	margin: 10px 0px 0px 200px;
}
.comment-5 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 250px;
	padding: 10px 10px 20px 20px;
}
.comment-6 {
	margin: 10px 0px 0px 250px;
}

.dislike {
	display: block;
}
.num-likes, .initiative-website {
	display: inline;
}