/* Direct Colorado, Joshua Maynard
Authors: Kacy McKibben & Jake Turelli
Author URI: www.kacymckibben.com
September 2016 

Table of Contents:
General
Navigation
Buttons
Like Dislike Styles for Initiatives
Upvote Downvote Styles for Comments
Bookmark Comment and Share Comment Styles
Home Page
Browse Page
Individual Initiative
Create Initiative Page
*/

/*--- General ---*/
body {
	color: #3C3C3C;
	font-family: 'Roboto', Open Sans, sans-serif;
	font-size: 14px;
}
.text {
	padding: 15px 5px 15px 15px;
}
.bold-text {
	font-weight: 600;
}
a {
	color: #3C3C3C;
}
.link {
	text-decoration: underline;
}
.glyphicon {
	color: #6E7FA6;
}

/*--- Navigation ----*/
.navbar {
	margin-bottom: 0px;
}
.navbar-nav > li > a {
	color: #3C3C3C;
}
.navbar-nav > li > a:hover {
	background-color: #f0efee;
}
.navbar-nav > li > a:focus {
	background-color: transparent;
	outline: none;
}
.active {
	font-weight: 600;
}
.secondary-navbar {
	background-color: #232f3e;
	border-radius: 0!important;
	color: #fff!important;
}
.secondary-navbar li > a {
	color: #fff;
}
.secondary-navbar li > a:hover {
	background-color: #2c3b4e;
}
.glyphicon-chevron-left {
	color: #fff;
}
.profile-pic {
	width: 20px;
}

/*--- Buttons ---*/
.btn {
	background-color: #1E3362;
	color: #fff;
}
.btn:hover {
	background-color: #344771;
	color: #fff;
}
.btn-ltblue {
	background-color: #35485f;
	color: #fff;
	font-weight: 300;
	padding: 10px 15px;
}
.btn-ltblue:hover {
	background-color: #8B98B7;
	color: #fff;
}
.btn-transparent {
	background-color: rgba(0,0,0,0);
}
.btn-transparent:hover {
	background-color: rgba(255,255,255,0.1);
}

/*--- Like Dislike Styles for Initiatives ---*/
.vote-text {
	color: #3C3C3C;
	font-family: 'Robot', sans-serif;
}
.radio input {
	position: absolute;
	visibility: hidden;
}
.radio input:checked {
	color: #000;
}
.vote {
	float: left;
	height: 36px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 72px;
}
.vote_item {
	float: left;
	height: 36px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 36px;
}
.vote_control {
	height: 36px;
	left: 0;
	line-height: 1;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 36px;
	z-index: 1;
}
.vote_content {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.vote_label {
	background-image: url(vote.svg);
	background-repeat: no-repeat;
	background-size: 72px 72px;
	border: 1px solid #ccc;
	color: transparent;
	cursor: pointer;
	display: block;
	height: 36px;
	margin: 0;
	position: relative;
	width: 36px;
}
.vote_label--upvote {
	background-position: 0 0;
	border-radius: 3px 0 0 3px;
}
.vote_label--downvote {
	background-position: 0 -36px;
	border-left: 0;
	border-radius: 0 3px 3px 0;
}
.vote_control:focus + .vote_label,
.vote_control:hover + .vote_label,
.vote_control:disabled + .vote_label,
.vote_control:checked:focus + .vote_label,
.vote_control:checked:hover + .vote_label,
.vote_control:checked:disabled + .vote_label {
	background-color: #eee;
}
.vote_control:checked + .vote_label--upvote {
	background-position: -36px 0;
}
.vote_control:checked + .vote_label--downvote {
	background-position: -36px -36px;
}
.like-font {
	font-family: Open Sans, sans-serif;
}
.glyphicon-thumbs-up:before{
	color: #6E7FA6;
    content:"\e125";
    opacity: 0.8;
}
.glyphicon-thumbs-up.tst:before{
    color: #35485f;
    content:"\e125";
    opacity: 1;
}
.glyphicon-thumbs-down:before{
    color: #6E7FA6;
    content:"\e126";
    opacity: 0.8;
}
.glyphicon-thumbs-down.tst:before{
    color: #35485f;
    content:"\e126";
    opacity: 1;
}

/*--- Upvote Downvote Styles for Comments ---*/
.glyphicon-chevron-up:before{
    color: #6E7FA6;
    content:"\e113";
    opacity: 0.8;
}
.glyphicon-chevron-up.tst:before{
    color: #35485f;
    content:"\e113";
    opacity: 1;
}
.glyphicon-chevron-down:before{
    color: #6E7FA6;
    content:"\e114";
    opacity: 0.8;
}
.glyphicon-chevron-down.tst:before{
    color: #35485f;
    content:"\e114";
    opacity: 1;
}

/*--- Bookmark Comment and Share Comment Styles ---*/
.glyphicon-bookmark:before {
	content: "\e044";
	opacity: 0.5;
}
.glyphicon-bookmark.marked:before {
	color: #35485f;
	content: "\e044";
	opacity: 1;
}
.fa {
	padding: 0 3px 0 3px;
}
.glyphicon-envelope {
	padding: 0 3px 0 3px;
}
.glyphicon-share-alt:before {
	content: "\e095";
	opacity: 0.5;
}
.glyphicon-share-alt.marked:before {
	content: "\e095";
	opacity: 1;
}

/*--- Home Page ---*/
.jumbotron {
	background-image: url('img/heroimg.png');
	background-position: center center;
	background-size: cover;
}
.jumbotron-main-headline {
	color: #fff!important;
	font-size: 48px!important;
	font-weight: 700;
	padding-top: 80px;
}
.jumbotron-sub-headline {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 25px 0px 5px 0px;
}
.jumbotron-search-input {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.3);
	margin: 10px 5px 10px 40px;
	padding: 5px;
	width: 300px;
}
.jumbotron-search-input:focus {
	outline: none;
}
.jumbotron-link {
	color: #fff;
	display: inline-block;
	font-weight: 300;
	margin: 20px;
	padding: 10px 10px 0px 10px;
}
.jumbotron-link:hover {
	color: rgba(255,255,255,0.5);
}
.search-icon-white {
	color: #fff;
}
.row-color {
	background-color: #f0efee;
	padding: 40px 0px 30px 0px;
}
.row-white {
	padding: 20px 0px 40px 0px;
}

/*--- Browse Page ---*/
.home-initiative {
	padding: 10px;
}

/*--- Individual Initiative ---*/
.initiative {
	padding: 25px 0px 15px 0px;
}
.comment-1 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 50px;
	padding: 10px 10px 20px 20px;
}
.comment-2 {
	margin: 10px 0px 0px 100px;
	padding: 10px;
}
.comment-3 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 150px;
	padding: 10px 10px 20px 20px;
}
.comment-4 {
	margin: 10px 0px 0px 200px;
}
.comment-5 {
	background-color: #F4F5F7;
	margin: 10px 0px 0px 250px;
	padding: 10px 10px 20px 20px;
}
.comment-6 {
	margin: 10px 0px 0px 250px;
}
.dislike {
	display: block;
}
.num-likes, .initiative-website {
	display: inline;
}

/* Create Initiative Page */
.add-init-input, textarea {
	width: 100%;
}
textarea {
	border-color: rgb(238,238,238);
	border-style: inset;
	border-width: 1px;
	padding: 1px;
}
.add-init-input {
	margin-bottom: 10px;
}
#addInitiativeForm {
	padding: 30px 0px;
}